// 标题色
$title_color: #303133;
// 删除
$delete_color: #a8aaae;
// 平常字体
$plain_color: #484848;
// 次级字体色
$select_color: #646e80;
// 白色
$text_color: rgba(255, 255, 255, 1);
// 输入框
$input_color: #b0b7c4;
// 辅助
$auxiliary_color: #22c0bf;
// 警告
$warning_color: #ff9800;
// 报错
$danger_color: #f14040;
// 主题
$ordinary_color: #00a5ed;
// 次级主题色
$secondary: rgba(103, 194, 255, 1);
// 字体大小
$font_size: 14px;
// 阴影
$shadow_color: 0px 2px 16px rgba(224,232,243,1);
