.hooks-flex-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   align-content: center;
}
.md-bg {
  width: 850px;
  height: 100vh;
  padding: 10px;
  margin: auto;
  .high-code {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #f2f2f2;
    border-radius: 2px;
  }
  h2 {
    font-size: 22px;
    margin: 20px 0px 10px 0px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      border-bottom: 1px solid #ccc;
      height: 50px;
    }
    code {
      background-color: #f9fafc;
      padding: 0 4px;
      border: 1px solid #eaeefb;
      border-radius: 4px;
    }
  }
}
.hooks-disable {
  cursor: not-allowed !important;
}
.hooks-display-inline-block {
  width: auto;
  height: 100%;
  display: inline-block;
}
.hooks-scroll-bar {
  overflow-y: auto;
  color: rgba(0, 0, 0, 0);
  scrollbar-color: #989898 transparent;
  scrollbar-track-color: transparent;
  scrollbar-highlight-color: #00a5ed;
  transition: all 0.2s;
  /* 设置滚动条的样式 */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: transparent;
  }

  /* 滚动槽 */
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 10px;
    background: transparent;
  }
  &:hover {
    color: #989898;
    transition: all 0.2s;
  }
}
