.hooks-flex-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   align-content: center;
}
.hooks-disable {
  cursor: not-allowed !important;
}
.hooks-display-inline-block {
  width: auto;
  height: 100%;
  display: inline-block;
}
.hooks-scroll-bar {
  overflow-y: auto;
  color: rgba(0, 0, 0, 0);
  scrollbar-color: #989898 transparent;
  scrollbar-track-color: transparent;
  scrollbar-highlight-color: #00a5ed;
  transition: all 0.2s;
  /* 设置滚动条的样式 */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: transparent;
  }

  /* 滚动槽 */
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 10px;
    background: transparent;
  }
  &:hover {
    color: #989898;
    transition: all 0.2s;
  }
}